body {
  font-family: "Okra", Helvetica;
}

.navigation{
  position: sticky !important;
  top:0 !important;
  z-index: 100;
}

.time-location {
  border-left: 1px solid #f2f2f2;
  padding-left: 70px;
}

.time-location > h5 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 6px;
  margin-top: 10px;
}

.time-location > p {
  margin: 0px;
  font-size: 13px;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.search-section {
  padding: 0px 12px;
  border: 1px solid rgb(232, 232, 232);
  background-color: rgb(248, 248, 248);
  color: rgb(130, 130, 130);
  border-radius: 12px;
}

.search-section > input {
  border: none;
  background-color: transparent;
  width: 40vw;
  height: 40px;
}

::placeholder {
  font-size: 14px;
  color: rgb(153, 153, 153);
}
.my-container{
  overflow-x : scroll;
  width:90%;
  margin:auto;
}

.item-list{
  white-space: nowrap;
}

.item-list>img{

  padding-inline: 8px;
}

::-webkit-scrollbar{
  display: none;
}

.my-cart {
  background-color: #0d831e !important;
  cursor: pointer;
  font-size: 14px !important;
}

.my-categories {
  width: 92%;
}

.categories-section{
  width: 90%;
  margin: auto;

}

.category-section-row{
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 40px;
}

.item-card{
  width:179px;
  margin-inline: 10px;
 
}

.time{
  border-radius: 4px;
  background-color: rgb(248,248,248);
  padding: 4px 4px;
  font-weight: 700;
  font-size: 9px;
  color:rgb(54,54,54);
  width:fit-content;
}

.product-name{
  font-weight:400 ;
  font-size: 13px;
  color:rgb(31,31,31);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.product-weight{
  color:#666666;
  font-size: 9px;
}

.price{

  font-weight: 600;
  font-size: 12px;
  color:rgb(31,31,31);
}




.my-footer{
  width: 90%;
  margin: auto;
  text-align: justify;
  padding: 10px;

}
.row-1{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}


.useful-links{
  flex: 2;
  
}

.categories{
  flex:3;
}
td{
  
  color:#666666;
  font-size:14px;
  padding: 3px 40px;

}
.download-app>p{
  color:#666666;
  font-weight: 600;
  font-size: 14px;
  margin : 16px;
}
.btns{
  background-color: #213b50;
  color:white;
  border-radius: 6px;
  margin:10px;
  border: none;
  padding: 4px;
}
.row-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
}
.row-2>p{
  width: 30%;
  color:#666666;
   font-size: 13px;
   text-align: justify;
}
.icons{
  display: flex;
}
.icon-btn{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-inline: 10px;
}
.row-3{
  color:#666666;
   font-size: 15px;
   text-align: justify;
   margin-top: 20px;
  }


  @media screen and (max-width:768px){
    nav,.row-2,.row-1{
        flex-direction: column !important;
    }
    .hero-section>img{
        display: none !important;
    }
    .nav-btns, .row-2>p, .search-section{
        width: 90%;
    }
    .row-1>div,.my-container{
        margin-top: 20px;
    }
    .row-1>div>h5{
        text-align: center;
    }
    td{
        text-align: center;
    }
    .icons{
        margin-top: 10px;
    }
}